{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'orderform.css' %}">
{% endblock %}

{% block content %}
<form action="" method="POST">
  {% csrf_token %}
  {{form.as_p}}
  <!-- <h4>Sender's Information</h4>
    <div class="mb-3">
        <label hidden for="formGroupExampleInput" display='none' class="form-label">Sender's name</label>
        <input type="text" class="form-control" id="formGroupExampleInput" name='sender_name'placeholder="Sender's name">
      </div>
      <div class="mb-3">
        <label hidden for="formGroupExampleInput2" class="form-label">sender's addresse</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" name='sender_addresse' placeholder="sender's addresse">
      </div>
      <div class="mb-3">
        <label hidden for="formGroupExampleInput2" class="form-label">sender's email</label>
        <input type="email" class="form-control" id="formGroupExampleInput2" name='sender_email' placeholder="sender's email">
      </div>
      <h4>Reciever's Information</h4>
      <div class="mb-3">
        <label hidden for="formGroupExampleInput2" class="form-label">reciever's name</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" name='reciever_name' placeholder="reciever's name">
      </div>
      <div class="mb-3">
        <label hidden for="formGroupExampleInput2" class="form-label">Phone_number</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" name='Phone_number' placeholder="Phone number">
      </div>
      <div class="mb-3">
        <label hidden for="formGroupExampleInput2" class="form-label"> reciever address</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" name='reciever_address' placeholder=" reciever address">
      </div>
      <div class="mb-3">
        <label hidden for="formGroupExampleInput2" class="form-label">reciever_email</label>
        <input type="email" class="form-control" id="formGroupExampleInput2" namee='reciever_email' placeholder="reciever_email">
      </div>
      <div class="mb-3">
        <label hidden for="formGroupExampleInput2" class="form-label">description</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" name='description' placeholder="description">
      </div>
      <div class="mb-3">
        <label hidden for="formGroupExampleInput2" class="form-label">weight</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" name='weight' placeholder="weight">
      </div>
      <div class="mb-3">
        <label hidden for="formGroupExampleInput2" class="form-label">departure time</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" name='departure_time' placeholder="departure time">
      </div>
      <div class="mb-3">
        <label hidden for="formGroupExampleInput2" class="form-label">arrival time</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" name='arrival_time' placeholder="arrival time">
      </div>
      <div class="mb-3">
        <label hidden for="formGroupExampleInput2" class="form-label">payment method</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" name='payment_method' placeholder="payment method">
      </div>
      <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">tracking number</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" name='tracking_number' value="{{tracking_number}}">
      </div>
      <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">status</label>
        <select class="form-select" name="status" aria-label="Default select example">
          <option selected value="1">Processed</option>
          <option value="2">Dispatch</option>
          <option value="3">En Route </option>
          <option value="4">Delivered </option>
        </select>
      </div> -->
      <div class="col-12">
        <button class="btn btn-primary" type="submit">Submit</button>
      </div>
</form>

{% endblock %}