{% extends 'index1.html'%}
{% load static %}
{% block content %}

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <div class="page-header d-flex align-items-center" style="background-image: url('assets/img/page-header.jpg');">
          <div class="container position-relative">
            <div class="row d-flex justify-content-center">
              <div class="col-lg-6 text-center">
                <h2>About</h2>
                <p>we envision a world where connections are empowered and logistics is redefined. Our vision is to revolutionize the way packages are delivered, creating a seamless and transformative experience for individuals and businesses alike.</p>
              </div>
            </div>
          </div>
        </div>
        <nav>
          <div class="container">
            <ol>
              <li><a href="{% url 'ClientSide:homepage' %}">Home</a></li>
              <li>About</li>
            </ol>
          </div>
        </nav>
      </div><!-- End Breadcrumbs -->
  
      <!-- ======= About Us Section ======= -->
      <section id="about" class="about">
        <div class="container" data-aos="fade-up">
  
          <div class="row gy-4">
            <div class="col-lg-6 position-relative align-self-start order-lg-last order-first">
              <img src="assets/img/about.jpg" class="img-fluid" alt="">
              <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox play-btn"></a>
            </div>
            <div class="col-lg-6 content order-last  order-lg-first">
              <h3>About Us</h3>
              <p>
                Rapid Dispatch is a leading logistics company dedicated to providing efficient and reliable shipping and transportation solutions. With years of industry experience, we have built a reputation for excellence, customer satisfaction, and a commitment to meeting the diverse needs of our clients.

              </p>
              <ul>
                <li data-aos="fade-up" data-aos-delay="100">
                  <i class="bi bi-diagram-3"></i>
                  <div>
                    <h5>Transparency and open communication</h5>
                    <p>Are fundamental values for us. We believe in building strong and collaborative relationships with our clients, based on trust, integrity, and mutual success</p>
                  </div>
                </li>
                <li data-aos="fade-up" data-aos-delay="200">
                  <i class="bi bi-fullscreen-exit"></i>
                  <div>
                    <h5>We are committed to delivering exceptional service</h5>
                    <p>We optimize your operations, and exceed your expectations at every step</p>
                  </div>
                </li>
                <li data-aos="fade-up" data-aos-delay="300">
                  <i class="bi bi-broadcast"></i>
                  <div>
                    <h5>Experience reliability and efficiency</h5>
                    <p>Contact us today to discuss how we can support your logistics requirements and contribute to the success of your business.</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
  
        </div>
      </section><!-- End About Us Section -->
  
      <!-- ======= Stats Counter Section ======= -->
      <section id="stats-counter" class="stats-counter pt-0">
        <div class="container" data-aos="fade-up">
  
          <div class="row gy-4">
  
            <div class="col-lg-3 col-md-6">
              <div class="stats-item text-center w-100 h-100">
                <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
                <p>Clients</p>
              </div>
            </div><!-- End Stats Item -->
  
            <div class="col-lg-3 col-md-6">
              <div class="stats-item text-center w-100 h-100">
                <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
                <p>Projects</p>
              </div>
            </div><!-- End Stats Item -->
  
            <div class="col-lg-3 col-md-6">
              <div class="stats-item text-center w-100 h-100">
                <span data-purecounter-start="0" data-purecounter-end="1453" data-purecounter-duration="1" class="purecounter"></span>
                <p>Hours Of Support</p>
              </div>
            </div><!-- End Stats Item -->
  
            <div class="col-lg-3 col-md-6">
              <div class="stats-item text-center w-100 h-100">
                <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1" class="purecounter"></span>
                <p>Workers</p>
              </div>
            </div><!-- End Stats Item -->
  
          </div>
  
        </div>
      </section><!-- End Stats Counter Section -->

      <section id="service" class="services pt-0">
        <div class="container" data-aos="fade-up">
  
          <div class="section-header">
            <span>Our Vision</span>
            <h2>Our Vision</h2>
  
          </div>
  
          <div class="row gy-4">
  
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
              <div class="card">
              
                <h3><a href="{% url 'ClientSide:services' %}" class="stretched-link">Enabling Growth and Prosperity</a></h3>
                <p> We understand the vital role that logistics plays in the success of businesses. Our vision is to empower businesses by providing efficient and reliable delivery solutions. By seamlessly transporting products, streamlining supply chains, and offering value-added services, we aim to contribute to the growth and prosperity of our clients.
                </p>
              </div>
            </div><!-- End Card Item -->
  
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
              <div class="card">
                <h3><a href="{% url 'ClientSide:services' %}" class="stretched-link">Connecting People and Communities</a></h3>
                <p> We believe that every package carries more than just physical goods—it carries emotions, aspirations, and connections. Our vision is to bridge distances, connecting people and communities across the globe. Whether it's reuniting loved ones, enabling businesses to thrive, or supporting humanitarian efforts, we aim to be the catalyst that brings people closer together.
                </p>
              </div>
            </div><!-- End Card Item -->
  
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
              <div class="card">
                
                <h3><a href="{% url 'ClientSide:services' %}" class="stretched-link">Embracing Innovation and Technology</a></h3>
                <p>We believe in the power of innovation and technology to transform the logistics industry. Our vision is to stay at the forefront of technological advancements, leveraging cutting-edge solutions to enhance the efficiency, transparency, and sustainability of our operations. By embracing innovation, we aim to continuously improve our services and exceed customer expectations.
                </p>
              </div>
            </div><!-- End Card Item -->
  
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
              <div class="card">
                <h3><a href="{% url 'ClientSide:services' %}" class="stretched-link">Championing Sustainability and Responsibility</a></h3>
                <p>We recognize our responsibility to protect the planet and future generations. Our vision is to lead the industry in sustainable practices, reducing our environmental impact and promoting responsible logistics. Through eco-friendly initiatives, carbon footprint reduction, and partnerships with like-minded organizations, we aim to create a greener and more sustainable future.
                </p>
              </div>
            </div><!-- End Card Item -->
  
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
              <div class="card">
                
                <h3><a href="{% url 'ClientSide:services' %}" class="stretched-link">Delivering Excellence and Delight</a></h3>
                <p>Our vision is to set the standard of excellence in the courier industry. We strive to deliver beyond expectations, providing exceptional customer service, reliable deliveries, and innovative solutions. Our goal is to delight our customers at every touchpoint, earning their trust and loyalty as their preferred courier partner.
                </p>
              </div>
            </div><!-- End Card Item -->
  
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
              <div class="card">
                
                <h3><a href="{% url 'ClientSide:services' %}" class="stretched-link">Empowering our Team</a></h3>
                <p>We believe that our success lies in the hands of our dedicated team. Our vision is to foster a supportive and inclusive work environment that values collaboration, personal growth, and professional development. By empowering our team members, we aim to cultivate a passionate and motivated workforce dedicated to delivering excellence.
                </p>
              </div>
            </div><!-- End Card Item -->
  
          </div>
  
        </div>
      </section>
      <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <span>Frequently Asked Questions</span>
          <h2>Frequently Asked Questions</h2>

        </div>

        <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="200">
          <div class="col-lg-10">

            <div class="accordion accordion-flush" id="faqlist">

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">
                    <i class="bi bi-question-circle question-icon"></i>
                    Can I ship items of any size internationally?
                  </button>
                </h3>
                <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    While most items can be shipped internationally, there may be restrictions on certain sizes, weights, or types of goods imposed by carriers or customs regulations. It is important to check the specific regulations and requirements of the destination country. Our team can assist you in determining any size or weight restrictions and provide guidance on shipping options for your specific items.
                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-2">
                    <i class="bi bi-question-circle question-icon"></i>
                    Do you provide insurance for international shipments?
                  </button>
                </h3>
                <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    Yes, we offer insurance options for international shipments to provide added protection. Our insurance coverage safeguards your packages against loss, damage, or theft during transit. It is recommended to consider insurance for valuable or fragile items. Our team can provide information on insurance options and help you choose the coverage that best suits your needs.
                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-3">
                    <i class="bi bi-question-circle question-icon"></i>
                    Is tracking available for international shipments?
                  </button>
                </h3>
                <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    Yes, we offer tracking services for international shipments. Once your package is in transit, you can easily track its progress online through our tracking system. You will receive a tracking number that allows you to monitor the shipment's journey, view real-time updates, and stay informed about its estimated delivery date.
                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-4">
                    <i class="bi bi-question-circle question-icon"></i>
                    How long does international shipping typically take?
                  </button>
                </h3>
                <div id="faq-content-4" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    <i class="bi bi-question-circle question-icon"></i>
                    The duration of international shipping depends on various factors such as the destination, shipping method chosen, customs clearance, and any unforeseen circumstances. Generally, international shipments can range from a few days to several weeks. We provide estimated delivery times based on the destination and selected shipping service to give you a better idea of the timeframe.
                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-5">
                    <i class="bi bi-question-circle question-icon"></i>
                    What documents are required for international shipping?
                  </button>
                </h3>
                <div id="faq-content-5" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    The specific documents required may vary depending on the destination and the nature of the shipment. However, common documents include a commercial invoice, packing list, and any necessary permits or licenses. Our team will guide you through the documentation process and ensure that all required paperwork is properly prepared.
                  </div>
                </div>
              </div><!-- # Faq item-->

            </div>

          </div>
        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

  
{% endblock %}