{% extends 'index1.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'assets/css/track.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/progress.css' %}">

{% endblock %}
{% block content %}
 <!-- ======= Breadcrumbs ======= -->
 <div class="breadcrumbs">
    <div class="page-header d-flex align-items-center" style="background-image: url('assets/img/page-header.jpg');">
      <div class="container position-relative">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-6 text-center">
            <h2>Tracking</h2>
            <p>Odio et unde deleniti. Deserunt numquam exercitationem. Officiis quo odio sint voluptas consequatur ut a odio voluptatem. Sit dolorum debitis veritatis natus dolores. Quasi ratione sint. Sit quaerat ipsum dolorem.</p>
          </div>
        </div>
      </div>
    </div>
    <nav>
      <div class="container">
        <ol>
          <li><a href="{% url 'ClientSide:homepage'%}">Home</a></li>
          <li>Track</li>
        </ol>
      </div>
    </nav>
  </div><!-- End Breadcrumbs -->

<main>
    
    <section class="inputClass ">
        
        <div class="container ">
            <div class="row ">
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
               {% endif %}
                <form method="POST" action="" class="desktop" id="trackform">
                    {% csrf_token %}
                    <div class="row  container-fluid mx-auto ">
                        <div class="col-9 input">
                            <label for="Tracking number" class="visually-hidden">Tracking number</label>
                            <input type="text" name="tracking_number" class="form-control p-2" id="Trackingnumber" placeholder=" Input Tracking number">
                        </div>
                        <div class="col-3 button">
                            <button type="submit" class="btn btn-secondary mb-3" id="#trackbutton">Track order</button>
                        </div>
                    </div>
                </form>
                <!-- mobile view -->
                <form method="POST" action="" class="mobile" id="trackform">
                    {% csrf_token %}
                    <div class="row  container-fluid mx-auto ">
                        <div class="col-9 input">
                            <label for="Tracking number" class="visually-hidden">Tracking number</label>
                            <input type="text" name="tracking_number" class="form-control p-2" id="Trackingnumber" placeholder=" Input Tracking number">
                        </div>
                        <div class="col-3 button">
                            <button type="submit" class="btn btn-secondary mb-3 mobile" id="#trackbutton">Track</button>
                        </div>
                    </div>
                </form>
                {% if model_instance %}

                <div class="Detail-btn d-flex">
                    <button type="submit" class="btn  mb-3 " id="#progressbutton">Progress</button>
                    <button type="submit" class="btn  mb-3 " id="#detailsbutton">Details</button>
                </div>
                
                <div class="text">
                    <h6 class="text-center">Delivery Progress</h6>
                    <p>We are pleased to provide the latest update on the delivery progress. the shipment has been scheduled and is now {% if model_instance.status == 1 %} Processed {% elif model_instance.status == 2 %} Dispatched {% endif %} {% if model_instance.status == 3 %} En Route {% endif %} {% if model_instance.status == 4 %} Dilivered {% endif %}.</p>
                    <br>
                    <p>Thank you for choosing our services. We are dedicated to making sure your shipments reach their destination efficiently and safely. </p>
                </div>
            </div>
            <div class="container-fluid reciever">
                <h5 class="text-center">Order information</h5>
                <p>Arrival Date: <span>{{model_instance.arrival_time}}</span></p>
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td class="text-strong">Order ID</td>
                            <td>{{model_instance.tracking_number}}</td>
                          </tr>
                      <tr>
                        <td class="text-strong">Name</td>
                        <td>{{model_instance.reciever_name}}</td>
                      </tr>
                      <tr>
                        <td class="text-strong">Address</td>
                        <td>{{model_instance.reciever_address}}</td>
                      </tr>
                      <tr>
                        <td class="text-strong">Email</td>
                        <td>{{model_instance.reciever_email}}</td>
                      </tr>
                      <tr>
                        <td class="text-strong">Package description</td>
                        <td>{{model_instance.description}}</td>
                      </tr>
                      <tr>
                        <td class="text-strong">weight</td>
                        <td>{{model_instance.weight}}</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
            <div class="container tracking-list">
                <ul id="progressbar" class="text-center d-flex">
                    <li class="step0 {% if model_instance.status == 1 or model_instance.status == 2 or model_instance.status == 3 or model_instance.status == 4 %} active {% endif %}">
                        <div class="row icon-content">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-clipboard-check" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                                <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                                <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                              </svg>
                            <div class="d-flex flex-column">
                                <p class="font-weight-bold">Processed</p>
                            </div>
                        </div>
                    </li>
                    <li class="step0 {% if model_instance.status == 2 or model_instance.status == 3 or model_instance.status == 4 %}active{% endif %}">
                        <div class="progress-bar row icon-content">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-box2" viewBox="0 0 16 16">
                                <path d="M2.95.4a1 1 0 0 1 .8-.4h8.5a1 1 0 0 1 .8.4l2.85 3.8a.5.5 0 0 1 .1.3V15a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V4.5a.5.5 0 0 1 .1-.3L2.95.4ZM7.5 1H3.75L1.5 4h6V1Zm1 0v3h6l-2.25-3H8.5ZM15 5H1v10h14V5Z"/>
                              </svg>
                            <div class="d-flex flex-column">
                                <p class="font-weight-bold">Dispatch</p>
                            </div>
                        </div>
                    </li>
                    <li class="step0 {% if model_instance.status == 3 or model_instance.status == 4  %}active{% endif %}">
                        <div class="row  icon-content">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-truck" viewBox="0 0 16 16">
                                <path d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                              </svg>
                            <div class="d-flex flex-column">
                                <p class="font-weight-bold">En Route</p>
                            </div>
                    </li>
                    <li class="step0 {% if model_instance.status == 4  %}active{% endif %}">
                        <div class="row  icon-content">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-house-check" viewBox="0 0 16 16">
                                <path d="M7.293 1.5a1 1 0 0 1 1.414 0L11 3.793V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v3.293l2.354 2.353a.5.5 0 0 1-.708.708L8 2.207l-5 5V13.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 1 0 1h-4A1.5 1.5 0 0 1 2 13.5V8.207l-.646.647a.5.5 0 1 1-.708-.708L7.293 1.5Z"/>
                                <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm1.679-4.493-1.335 2.226a.75.75 0 0 1-1.174.144l-.774-.773a.5.5 0 0 1 .708-.707l.547.547 1.17-1.951a.5.5 0 1 1 .858.514Z"/>
                              </svg>
                            <div class="d-flex flex-column">
                                <p class="font-weight-bold">dilivered</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
       
    </section>
    
    {% endif %}
</main>
{% endblock %}