
.inputClass{
    font-size:20px;
    min-height: 67vh;
}
.inputClass .container .row h4{
    margin-top: 1rem;
    color: #fd4902;
}
.inputClass .container .row .Detail-btn{
    justify-content: space-evenly;
}
.inputClass .container .row .Detail-btn button{
    width: 48%;
    border: 1px solid white;
}


/* mobile view .......................////////////////////////////////////////................ */
.inputClass .container .row .mobile{
    display: none;
}
@media(max-width: 600px){
    .inputClass .container .row form{
        font-size: 10px;
    }
    .inputClass .container .row form .col-8 input{
        height: 25px;
    }
    .inputClass .container .row .mobile{
        display: block;
    }
    .inputClass .container .row .desktop{
        display: none;
    }
    .inputClass .container .row .text{
       font-size: 10px;
    }
    .reciever .table{
        font-size: 10px;
    }
    .reciever p{
        font-size: 10px;
    }
    .tracking-list{
        font-size: 10px;
    }
}
