{% extends 'base.html' %}
{% load static %}

{% block css %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
      <table class="table table-bordered border-primary">
        <thead>
          <tr>    
            <th scope="col">#</th>
            <th scope="col">Client name</th>
            <th scope="col">Email</th>
            <th scope="col">subject</th>
            <th scope="col">action</th>
          </tr>
        </thead>
        <tbody>
          {% for messages in messages %}
          <tr>
            <td>{{forloop.counter}}</td>
            <td>{{messages.name}}</td>
            <td>{{messages.email|truncatechars:20}} ...</td>
            <td>{{messages.subject| truncatechars:10}}</td>
            <td>
              <a href="{% url 'AdminSide:message-details' messages.id %}"><i class="fa-solid fa-eye"></i>view</a>

              <a href=""><i class="fas fa-trash-alt"></i>delete</a>     
            </td>
          </tr>
          {% endfor %}
          
        </tbody>
      </table>
    </div>
  </div>
  
  

{% endblock %}